
/*-- Border and padding are taking in account in box dimension --*/
* {
    box-sizing: border-box;
}

body {
    color: #1c160c;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Bree Serif', serif;
}

/* ---- Layout containers ---- */
.wrapper {
    margin: 1em 1em 3em 1em;
    padding: 1em 0;
    background: #f7da00;

    height: calc(100vh - 64px);
    max-width: 1024px;
}

.banner {
    text-align: right;
}

.greetings, .main-content, .main-footer {
    text-align: center;
}

.greetings {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 1em;
}

.main-content {
    margin-bottom: 1em;
}

.messages {
    background: #ffffff;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-bottom: 3em;
    padding-top: 1em;
}

conversation {
    display: flex;
    flex-direction: column;
}

/* ---- Page elements ---- */
.banner img {
    display: inline-block;
    width: 70%;
    height: 100px;
    margin-top: 150px;

    border: hidden;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.messages .message {
    border: solid #f7da00;

    display: inline-block;
    width: 70%;

    padding-left: 15px;
    padding-right: 10px;

    text-align: left;

    margin-bottom: .5em;
    margin-top: .5em;
}

.messages p {
    margin-bottom: 10px;
    margin-top: 10px;
}

.messages .andrea {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    margin-left: auto;
}

.messages .user {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

md-input-container {
    width: 100%;
}

/* ---- Media queries ---- */
@media screen and (max-width: 450px) {
    .messages {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        margin-left: 5em;
        margin-right: 5em;
    }

    .banner img {
        width: 50%;
    }
}